@import url('https://fonts.googleapis.com/css?family=Overpass');


body {
    background-color: #ededed;
}

body, h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Overpass', sans-serif;
}

.openshift-container {
  height: 70%;
  width: 50%;
  overflow: hidden;
  background-color: white;
  box-shadow: 1px 1px 30px rgba(0,0,0,.3);
  margin: 0 auto;
  position: relative;
  /*top: 50%;*/
  transform: translateY(32%);
}

.nav-container {
    max-width: 640px;
    margin: 0 auto;
}
.header {
    height: 56px;
    background: -webkit-linear-gradient(top, #c00 0%,#470000 100%);
    border: 1px solid white;
}
.navigation {
    height: 56px;
    display: flex; /* make this a flexbox container */
    flex-wrap: wrap;
    justify-content: space-between; /* place our items as far apart from each other as possible */
    align-items: center; /* vertically align items */
}

.brand {
    color: white;
    float: left;
    margin-left: 3%;
}
.menu {
    display: flex;
    align-items: stretch;
    height: 56px;
}
.menu-link {
    display: block;
    padding: 20px 25px;
    text-decoration: none;
    color: white;
    border-left: 1px solid white;

}
.menu-link:hover {
    background: -webkit-radial-gradient(center, #c00 0%,#470000 100%);
    color: white;
}
.active {
  background: -webkit-radial-gradient(center, #c00 0%,#470000 100%);
}

.main-container {
  width: 95%;
  text-align: left;
  margin: 5% auto;
}
.main-headline {
    font-size: 1.3em;
    font-weight: bold;
    /*color: #bbb;*/
    margin-top: 1em;
    margin-bottom: .5em;
}
.main-text {
  /*color: #bbb;*/
  margin-top: 1rem;
  line-height: 1.6;
  font-weight: bold;
}
.column-container {
    display: flex;
    margin: 30px -10px;
}
.column {
    flex: 1 1 50%;
    width: 40%;
    padding: 0 10px;
}
.column1 {
  max-width: 150px;
}
.case-title, .case-details, .case-button {
  margin-top: 1.2rem;
}
.case-title {
  margin-top: 1.3rem;
  font-weight: bold;
}
.case-details {
  color: #bbb;
}
.case-details-status {
  color: white;
  font-size: .9rem;
  background-color: green;
  border: 0;
  width: 44px;
  text-align: center;
  padding: 4px 7px;
  border-radius: 3px;
}
