@import "../node_modules/bootstrap/less/bootstrap.less";
@import url('https://fonts.googleapis.com/css?family=Overpass');
@import "variables.less";
@import "mixins.less";

body, h1, h2, h3, h4, h5, h6, p, a {
    font-family: @fontfamily;
}

.background-container {
  height: 100vh;
  width: 100%;
 padding: 20.25em 20.6875em;
 background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1.2px, transparent 1.2px, transparent 100%);
 background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1.2px, transparent 1.2px, transparent 100%);
 background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1.2px, transparent 1.2px, transparent 100%);
 background-image: repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1.2px, transparent 1.2px, transparent 100%);
 -webkit-background-size: 20px 20px;
 -moz-background-size: 20px 20px;
 background-size: 20px 20px;
}

.panel {
  height: 250px;
  width: 250px;
  border-radius: 0;
  box-shadow: 1px 1px 20px rgba(0,0,0,.3);
  position: absolute;
  top: 0;
}
.panel-default > .panel-heading {
  background-color: @brightred;
  height: 60px;
  box-shadow: 1px 1px 20px rgba(0,0,0,.3);
}
.panel-title {
  color: white;
  float: left;
  width: 40%;
  .vertalign();
}
.panel-number {
  color: white;
  float: right;
  width: 15%;
  padding: 3px 2px;
  background-color: @blackred;
  text-align: center;
  .vertalign();
}
